<!DOCTYPE html>
<html html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登陆</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/registry.css}">
</head>
<body>

<div class = "container">
    <div class="wrapper">
        <form action="#" th:action="@{/admin/login}" method="post" name="Login_Form" class="form-signin">
            <h3 class="form-signin-heading">填写管理员密码</h3>
            <hr class="colorgraph"><br>

            <input type="password" class="form-control" name="password" placeholder="密码" required="" autofocus="" />

            <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="登录" type="Submit">登录</button>


            <div class="alert alert-success" role="alert" style="margin-top: 10px" th:if="${error}">
                <p th:text="${error}"></p>
            </div>
        </form>
    </div>
</div>

</body>

<script src="/js/bootstrap.js"/>

</html>