<!DOCTYPE html>
<html html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>发布项目</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/operation.css}" rel="stylesheet">
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">发布项目</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">china-cic</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/operation-publish">发布项目</a></li>
                <li><a href="/admin/operation-start">开启投票</a></li>
                <li><a href="/admin/vote-result?type=origin">显示投票结果</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container text-center">

    <div style="margin: 30px 0;">
        <button type="button" class="btn btn-primary text-center" id="submit-publish-btn">发布</button>
        <button type="button" class="btn btn-primary text-center" id="select-special-btn">选择一等奖</button>
        <button type="button" class="btn btn-primary text-center" id="select-first-btn">选择提名一等奖</button>
        <button type="button" class="btn btn-primary text-center" id="select-second-btn">选择提名二等奖 + 一等落选</button>
        <button type="button" class="btn btn-primary text-center" id="select-third-btn">选择提名三等奖</button>
    </div>

    <!-- 项目列表 -->
    <div class="container table-responsive" id="projects-div">
        <p class="alert-danger" th:if="${error}" th:text="${error}">错误!</p>
        <table class="table text-center table-striped table-bordered" th:if="!${error}">
            <thead class="text-center">
                <tr>
                    <th class="text-center">选择</th>
                    <th class="text-center">收序</th>
                    <th class="text-center">项目名称</th>
                    <th class="text-center">提名等级</th>
                    <th class="text-center">获奖等级</th>
                    <th class="text-center">发布状态</th>
                </tr>
            </thead>

            <tbody id="content">
                <tr th:each="p : ${projects}">
                    <!-- 选择 -->
                    <td> <input type="checkbox" th:id="${p.id}" th:checked="${p.isPublish}" th:data-prize="${p.prize}" th:data-prizeWant="${p.type}"/> </td>
                    <!-- 收序 -->
                    <td><p th:text="${p.number}"></p> </td>
                    <!-- 项目名称 -->
                    <td><p th:text="${p.name}"></p> </td>
                    <!-- 提名等级 -->
                    <td><p th:text="${p.type}"></p> </td>
                    <!-- 获奖等级 -->
                    <td><p th:text="${p.prize}"></p> </td>
                    <!-- 发布状态 -->
                    <td th:switch="${p.isPublish}">
                        <p th:case="true" class="alert-success">发布中</p>
                        <p th:case="false" >未发布</p>
                        <p th:case="*"></p>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div><!-- /.container -->
</body>

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/admin.js"></script>
<script th:src="@{/js/operation-publish.js}"></script>
</html>
