<!DOCTYPE html>
<html html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>发布项目</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/operation.css}" rel="stylesheet">
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">发布项目</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">china-cic</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/operation-publish">发布项目</a></li>
                <li><a href="/admin/operation-start">开启投票</a></li>
                <li><a href="/admin/vote-result?type=origin">显示投票结果</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container text-center">

    <div style="margin-top: 30px">
        <button type="button" class="btn btn-primary text-center" id="submit-publish-btn">发布</button>
        <button type="button" class="btn btn-primary text-center" id="select-special-btn">选择一等奖</button>
        <button type="button" class="btn btn-primary text-center" id="select-first-btn">选择提名一等奖</button>
        <button type="button" class="btn btn-primary text-center" id="select-second-btn">选择提名二等奖 + 一等落选</button>
        <button type="button" class="btn btn-primary text-center" id="select-third-btn">选择提名三等奖</button>
    </div>

    <div class="starter-template text-left" id="projects-div">
        <ul class="list-group" id="projects-ul"></ul>
    </div>

</div><!-- /.container -->
</body>

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/admin.js"></script>
</html>
